<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <title>Мессенджер</title>
</head>
<body>
    <div class="chat-container">
        <div class="nav-elements">
            <div class="nav-icons">
                <button class="profile-button" onclick="viewMyProfile()">
                    <img class="avatar-img" th:src="@{/img/avatar1.JPG}" alt="ваш аватар">
                    <span class="base-inscription">Профиль</span>
                </button>
                <button class="folder-button">
                    <img th:src="@{/icons/folder-icon.svg}" alt="папка">
                    <span class="base-inscription">Название</span>
                </button>
            </div>
            <div class="settings-block">
                <button class="settings-button">
                    <img class="settings-icon" th:src="@{/icons/settings-icon.svg}" alt="настройки">
                </button>
            </div>
        </div>
        <div class="chats-list">
            <div class="search-form">
                <input class="search-form-txt" type="text" placeholder="Найти">
            </div>
            <ul class="chats" id="chatsContainer">
                <li class="card">
                    <div class="chat-card">
                        <div class="avatar"><img class="avatar-img" th:src="@{/img/avatar1.JPG}" alt=""></div>
                        <div class="card-content">
                            <div class="name-time">
                                <span class="user-name">Заметкиasdasddsasdadsasdadsasadsdadas</span>
                                <time datetime="2026-03-01T14:30" class="message-time">01:40</time>
                            </div>
                            <span class="user-message">Привет, мир! Это мои заметки! Я сегодня покушал вкусно!!!</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class = "resizer" ></div>
        <div class="main-dialog empty-dialog">
            <p class="main-dialog-inscription">Выберите, кому хотели бы написать</p>
        </div>
    </div>

    <script th:src="@{js/script.js}"></script>
</body>
</html>