<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
    <title>Мессенджер</title>
</head>
<body>
<div class="chat-container">
    <div class="nav-elements">
        <div class="nav-icons">
            <button class="profile-button" id="profileBtn">
                <img class="avatar-img" th:src="@{/img/avatar1.JPG}" alt="аватар">
                <span class="base-inscription">Профиль</span>
            </button>
            <button class="folder-button" id="folderBtn">
                <img th:src="@{/icons/folder-icon.svg}" alt="папка">
                <span class="base-inscription">Название</span>
            </button>
        </div>
        <div class="settings-block">
            <button class="settings-button" id="settingsBtn">
                <img class="settings-icon"
                     th:src="@{/icons/settings-icon.svg}"
                     alt="настройки">
            </button>
            <button class="logout-button" id="logoutBtn">
                <img class="logout-icon"
                     th:src="@{/icons/logout.png}"
                     alt="выход">
            </button>
        </div>
    </div>

    <div class="chats-list">
        <div class="search-form">
            <input
                    class="search-form-txt"
                    type="text"
                    placeholder="Поиск"
                    id="searchInput"
                    autocomplete="off">
        </div>
        <ul class="search-results" id="searchResults" style="display:none;"></ul>
        <ul class="chats" id="chatsContainer"></ul>
    </div>

    <div class="resizer"></div>

    <div class="main-dialog empty-dialog" id="mainDialog">
        <p class="main-dialog-inscription">
            Выберите, кому хотели бы написать
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script type="module" src="/js/app.js"></script>
</body>
</html>